{% extends '@App/back_office/partials/admin_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="scssphp"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css"

    output="bundles/app/back_office/css/blog/index.css" %}
    {% include '@App/components/twig_css_asset.html.twig' %}
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% include '@App/back_office/components/flash_bag.html.twig' with { flashes: app.flashes } %}

        <div class="x_panel">
            <h2>LIST DOCUMENT</h2>
            <a href="{{ path('admin_document_create') }}" class="btn btn-success btn-sm" style="float: right"><i
                        class="fa fa-plus-circle"></i> Document</a>

            <div class="x_content">
                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Category</th>
                        <th>Created Date</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for document in documents %}

                        <tr>
                            <td>{{ document.originalName }}</td>
                            <td>{{ document.categoryId }}</td>
                            <td>{{ document.createdOn | date('Y-m-d H:i:s') }}</td>

                            <td>
                                {% include '@App/back_office/components/preview_button.html.twig' with { prefix: '/uploads/document/' , 'link': document.publicLink } %}
                                {% include '@App/back_office/components/delete_button.html.twig' with { id: document.id, record_name: document.originalName } %}
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net/js/jquery.dataTables.min.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-buttons/js/buttons.flash.min.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-buttons/js/buttons.html5.min.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-buttons/js/buttons.print.min.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"
    "@AppBundle/Resources/public/back_office/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"
    "@AppBundle/Resources/public/back_office/vendors/jszip/dist/jszip.min.js"
    "@AppBundle/Resources/public/back_office/vendors/pdfmake/build/pdfmake.min.js"
    "@AppBundle/Resources/public/back_office/vendors/pdfmake/build/vfs_fonts.js"

    output="bundles/app/back_office/js/blog/index.js" %}
    {% include '@App/components/twig_js_asset.html.twig' %}
    {% endjavascripts %}
{% endblock %}

